<%= render :partial => "/client/header" %>
<%= stylesheet_link_tag "dhtmlwindow" %>
<%= javascript_include_tag "prototype"  %>
<%= javascript_include_tag "form_validation" %>
<%= javascript_include_tag "dhtmlwindow"%>
<%= render :partial => "navigation" %>

<% if flash[:notice] %><div class="success clr"><%= flash[:notice] %></div><% end %>
<!--<div class="span-12 content_container">
  <h2>Open Orders</h2>
</div>
<div id="new_order_button" class="span-4 last">
<%#= link_to(image_tag("buttons/place_new_order.jpg"), :action => "new" )%>
</div>-->
<div class="xsnazzy">
  <div class="container">
    <div class="table-view" id="tabs">
      <ul class="listing-view">
        <li><a href="javascript:void(0);" id="tabs1">Open Orders</a></li>
        <li><a href="javascript:void(0);" id="tabs2" class="light-blue">Need Notary</a></li>
        <li><a href="javascript:void(0);" id="tabs3" class="mid-light-blue">notary assigned</a></li>
        <li><a href="javascript:void(0);" id="tabs4" class="dark-light-blue">appt confirmed</a></li>
        <li><a href="javascript:void(0);" id="tabs5" class="light-green">Cancelled Orders</a></li>
        <li><a href="javascript:void(0);" id="tabs6" class="mid-light-green">signed</a></li>
        <li><a href="javascript:void(0);" id="tabs7" class="dark-light-green">paid</a></li>
      </ul>
				<%= render :partial => 'all_orders' %>
        <%= render :partial => 'awaiting_notary_orders' %>
        <%= render :partial => 'assigned_notary_orders' %>
        <%= render :partial => 'appt_confirmed_orders' %>
        <%= render :partial => 'refused_to_sign_orders' %>
        <%= render :partial => 'signed_orders' %>
        <%= render :partial => 'paid_orders' %>
    </div>
  </div>
</div>

<script language="JavaScript">
  ;if(window.jQuery) (function($){
    $(window).load(function(){
<% if params[:tab].present? %>
        var active_tab = "<%= params[:tab]%>";
        console.log(active_tab);
        document.getElementById(active_tab).click();
<% end %>
    });
    $('ul.listing-view a').click(function() {
      var current_id = $(this).attr('id');
      $('.default-tabs').each(function(){
        if ($(this).attr('id') == current_id) {
          $(this).attr('style', 'display:block');
        }
        else {
          $(this).attr('style', 'display:none');
        }

      });

    });
  })(jQuery);
</script>

	<script type="text/javascript" charset="utf-8">
		jQuery(document).ready(function() {
jQuery('.success').fadeOut(5000)
		});
	</script>

