


<p><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<br/>
<p>Hi <%= Notary.find_by_id(@order.notary_id).nil? ? "" : Notary.find_by_id(@order.notary_id).first_name %> &nbsp; <%= Notary.find_by_id(@order.notary_id).nil? ? "" : Notary.find_by_id(@order.notary_id).last_name %>, </p>
<br/>
<p>We would like to inform that the following Order has been Cancelled!</p>

<ul>
	<li><strong>Signer/Client:</strong> <%= @order.borrower_1_first_name %> <%= @order.borrower_1_last_name %></li>
	<li><strong>NF Order #:</strong> <%= @order.id %></li>
	<li><strong>Escrow/Transaction #:</strong> <%= @order.loan_number %></li>
	<li><strong>Signing Date:</strong> <%= @order.signing_date.strftime("%B %d, %Y") %></li>
	<li><strong>Signing Time:</strong> <%= @order.signing_time %></li>
	<li><strong>Docs Returned Via:</strong> <%= @order.closed_carrier %></li>
        <li><strong>Tracking #:</strong> <%= @order.closed_tracking_number %></li>

</ul>

<p>This information was provided by NotaryFly.com</p>