<% @client = Client.find(@order.client_id) %>
<% @user = User.find(@client.user_id) %>
<p><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<p>Dear <%= @client.client_name.capitalize %>, </p>
<p>The order has been <strong>COMPLETED</strong> for following signing:</p>

<table width="60%" style="float:left;">
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Escrow Order #:</div>
    </td>
    <td>
      <div class="title2"><%= @order.loan_number %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">NF Order #:</div>
    </td>
    <td>
      <div class="title2"><%= @order.id %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signer:</div>
    </td>
    <td>
      <div class="title2"><%= link_to "#{@order.borrower_1_first_name.capitalize} #{@order.borrower_1_last_name.capitalize}", "javascript:void(0)" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Location:</div>
    </td>
    <td>
      <div class="title2"><%= "#{@order.signing_location_address} #{@order.signing_location_city}, #{@order.signing_location_state} #{@order.signing_location_zip_code}" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Date:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_date.strftime("%B %d, %Y") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Time:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_time %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Type:</div>
    </td>
    <td>
      <div class="title2"><%=@order.loan_type%></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Total Fee:</div>
    </td>
    <td>
      <% total_fee = @order.notary.fee.to_i + @order.notary.other_fee.to_i %>
      <div class="title2"><%= "$#{total_fee}" %></div>
    </td>
  </tr>
</table>

<div style="float:left;width:100%;">
<p style="margin-bottom:6px;"><strong>We appreciate working with you. Please pay invoice as soon as possible so we can pay the hard working notaries as soon as possible. We will update your account as soon as the invoice is paid in full. If you need anything, please contact us at:<a href="mailto:support@notaryfly.com/">support@notaryfly.com</a> or call (800)470-7515.</strong></p>
<p style="margin-bottom:6px;"><strong>Notaryfly</strong></p>
