<p style="margin-bottom:6px;">
  <strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong>
</p>
<p style="margin-bottom:6px;">Dear <%= link_to @agent.broker_name.split.collect{|n|n.capitalize}.join(" "), "javascript:void(0)" %>,</p>
<p style="margin-bottom:6px;"><strong>Congratulations, the loan has FUNDED for the following Order:</strong></p>


<table width="60%" style="float:left;">
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Escrow Order #:</div>
    </td>
    <td>
      <div class="title2"><%= @order.loan_number %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">NF Order #:</div>
    </td>
    <td>
      <div class="title2"><%= @order.id %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signer:</div>
    </td>
    <td>
      <div class="title2"><%= link_to "#{@order.borrower_1_first_name.capitalize} #{@order.borrower_1_last_name.capitalize}", "javascript:void(0)" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Location:</div>
    </td>
    <td>
      <div class="title2"><%= "#{@order.signing_location_address.truncate(20, separator: /\s/, omission: '...(continued)')} #{@order.signing_location_city}, #{@order.signing_location_state} #{@order.signing_location_zip_code}" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Date:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_date.strftime("%B %d, %Y") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Time:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_time %></div>
    </td>
  </tr>
</table>

<p style="margin-bottom:6px;">This information is ONLY provided as a courtesy to keep you updated on the loan listed above.  For further details regarding the funding, please contact your title or escrow company.</p>

<p style="margin-bottom:6px;">If you know anyone else who should be using NotaryFly to complete loan closings, please forward their information to: <a href='mailto:ReferAFriend@notaryfly.com'>ReferAFriend@notaryfly.com</a></p>
<p style='margin-bottom:6px;'><strong>Notaryfly</strong></p>
