<% @notary = Notary.find(@order.notary_id) %>

<p><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<br/>
<p>Dear <%= @notary.first_namecapitalize %>&nbsp;<%= @notary.last_namecapitalize %>, </p>
<br/>
<p>We would like to inform that the following document signing has been successfully COMPLETED!</p>

<ul>
  <li><strong>Signer/Client:</strong> <%= @order.borrower_1_first_name %> <%= @order.borrower_1_last_name %></li>
	<li><strong>NF Order #:</strong> <%= @order.id %></li>
	<li><strong>Escrow/Transaction #:</strong> <%= @order.loan_number %></li>
	<li><strong>Signing Date:</strong> <%= @order.signing_date.strftime("%B %d, %Y") %></li>
	<li><strong>Signing Time:</strong> <%= @order.signing_time %></li>
	<li><strong>Docs Returned Via:</strong> <%= @order.closed_carrier %></li>
	<li><strong>Tracking #:</strong> <%= @order.closed_tracking_number %></li>
	
</ul>

<p>To view order details please visit <a href="http://www.notaryfly.com">NotaryFly</a> by clicking the link below.</p>


<p>This information was provided by NotaryFly.com</p>

