<p style="margin-bottom:6px;"><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<p style="margin-bottom:6px;">Dear <%= link_to "#{@notary.first_name.capitalize} #{@notary.last_name.capitalize}", "javascript:void(0)" %>,</p>
<p style="margin-bottom:6px;">The following NotaryFly Order has been <strong>ASSIGNED</strong> to you:</p>

<table width="60%" style="float:left;">
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Order #:</div>
    </td>
    <td>
      <div class="title2"><strong>NF</strong># <%= @order.id %> </div>
    </td>
  </tr>
    <tr><td><div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div><div class="title1" style="font-weight:bold;">Escrow #:</div></td><td><div class="title2"><%= "#{@order.loan_number}" %></div></td></tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signer/Client:</div>
    </td>
    <td>
      <div class="title2"><%= link_to "#{@order.borrower_1_first_name.capitalize} #{@order.borrower_1_last_name.capitalize}", "javascript:void(0)" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Location:</div>
    </td>
    <td>
      <div class="title2"><%= "#{@order.signing_location_address.truncate(20)} #{@order.signing_location_city}, #{@order.signing_location_state} #{@order.signing_location_zip_code}" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Date:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_date.strftime("%B %d, %Y") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Time:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_time %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Type:</div>
    </td>
    <td>
      <div class="title2"><%= @order.loan_type %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Total Notary Fee:</div>
    </td>
    <td>
      <div class="title2">$ <%= number_with_precision((@order.travel_fee.to_i + @order.notary_fee.to_i).to_f,:precision=>2) %></div>
    </td>
  </tr>
</table>
<p style="margin-bottom:6px;">
  <strong>If you have any questions, contact <a href="mailto:support@notaryfly.com/">support@notaryfly.com</a> or call 1-800-FLY-SIGN</strong>
</p>
<p style="margin-bottom:6px;">
If you have trouble viewing the ATTACHED WORK ORDER you can go to <a href="http://www.notaryfly.com">NotaryFly.com</a> and view Order details by logging in with your username and password.
</p>


<table width="60%" style="float:left;">
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Username: <%= @user.email %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Password: <%= @user.user_password %></div>
    </td>
  </tr>
</table>
