<% @notary= @order.notary %>
<p><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<p style="margin-bottom:4px;">Dear <%= @notary.first_name.capitalize %>&nbsp;<%= @notary.last_name.capitalize %>,</p>
<p>The following Order has been <strong>COMPLETED:</strong></p>

<table width="60%" style="float:left;">
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Escrow Order #:</div>
    </td>
    <td>
      <div class="title2"><%= @order.loan_number %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">NF Order #:</div>
    </td>
    <td>
      <div class="title2"><%= @order.id %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signer:</div>
    </td>
    <td>
      <div class="title2"><%= link_to "#{@order.borrower_1_first_name.capitalize} #{@order.borrower_1_last_name.capitalize}", "javascript:void(0)" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Location:</div>
    </td>
    <td>
      <div class="title2"><%= "#{@order.signing_location_address.truncate(20, separator: /\s/, omission: '...(continued)')} #{@order.signing_location_city}, #{@order.signing_location_state} #{@order.signing_location_zip_code}" %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Date:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_date.strftime("%B %d, %Y") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Time:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_time %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Type:</div>
    </td>
    <td>
      <div class="title2"><%=@order.loan_type%></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Notary Fee:</div>
    </td>
    <td>
      <% total_fee = @order.notary.fee.to_i + @order.notary.other_fee.to_i %>
      <div class="title2"><%= "$#{total_fee}" %></div>
    </td>
  </tr>
  <tr><td><div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div><div class="title1" style="font-weight:bold;">ACH #/Check #:</div></td><td><div class="title2"><%= @order.closed_tracking_number %></div></td></tr>
</table>

<div style="float:left;width:100%;">
<p style="margin-bottom:6px;"><strong>NotaryFly gets paid by some companies as a loan funds and disperses (same day sometimes), while other companies pay at the end of the month.  Once NotaryFly receives funds, Notary is typically paid in next pay cycle.  You will receive an email once funds leave NotaryFly.  If you have any questions, please contact:<a href="mailto:accounting@notaryfly.com/">accounting@notaryfly.com</a></strong></p>
<p><strong>NOTE:  Must have current W-9 on file to be paid, please make sure this is current.</strong></p>
<p style="margin-bottom:6px;">If there are any title/escrow companies or lenders who should be using NotaryFly, please forward their contact information to:  ReferAFriend@notaryfly.comIf there are any title/escrow companies or lenders who should be using NotaryFly, please forward their contact information to:<a href='mailto:ReferAFriend@notaryfly.com/'>ReferAFriend@notaryfly.com</a></p>
