<p> Dear <%=@name%> </p>
<ul>
<li><strong>Invoice #:</strong><%= @invoice %></li>
<li><strong>Credits :</strong><%= @purchase_amount%></li>
<li><strong>Promotional Code:</strong><%= @promo %></li>
<li><strong>Total Credits:</strong><%= @total_credits %></li>
</ul>