<%= javascript_include_tag "jquery"  %>
<p style="margin-bottom:6px;"><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<p style="margin-bottom:6px;">Dear <%= link_to "#{@notary.first_name.capitalize} #{@notary.last_name.capitalize}", "javascript:void(0)" %>,</p>
<p style="margin-bottom:6px;">You have been <strong>OFFERED</strong> an Order on NotaryFly for the following document signing:</p>

<table width="60%" style="float:left;">
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Date:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_date.strftime("%B %d, %Y") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Time:</div>
    </td>
    <td>
      <div class="title2"><%= @order.signing_time %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Type:</div>
    </td>
    <td>
      <div class="title2"><%= @order.loan_type %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Signing Location:</div>
    </td>
    <td>
      <div class="title2"><%= "#{@order.signing_location_address.truncate(20)} #{@order.signing_location_city}, #{@order.signing_location_state} #{@order.signing_location_zip_code}" %></div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Distance to Signing:</div>
    </td>
    <td>
      <div class="title2"><%=number_with_precision(@mile, :precision=>2)%> miles</div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="squ" style="background:#000; height:5px; width:5px; float:left; margin-top: 5px; margin-right:5px; margin-bottom:6px;"></div>
      <div class="title1" style="font-weight:bold;">Fee:</div>
    </td>
    <td>
      <% total_fee = @notary.fee.to_i + @notary.other_fee.to_i %>
      <div class="title2">$ <%= number_with_precision(total_fee.to_f,:precision=>2) %></div>
    </td>
  </tr>
</table>
<div style="float:left;width:100%;">
<p style="margin-bottom:6px;"><strong>If you have any questions, contact <a href="mailto:support@notaryfly.com/">support@notaryfly.com</a></strong></p>
<p style="margin-bottom:6px;">If you want to accept this Order, please click:</p>
<p style="margin-bottom:6px;">
  <table>
    <tr>
      <td style="text-align:left"><%= link_to "<span><img src='#{ROOT_URL}/images/accept-order.png'/></span>", {:host => 'notaryfly.com', :controller => 'notary/orders', :action => 'accept_order', :id => @order.id} %></td>
      <td style="text-align:right"><%= link_to "<span><img src='#{ROOT_URL}/images/Deny-Order.png'/></span>", {:host => 'notaryfly.com', :controller => 'notary/orders', :action => 'deny_order', :id => @order.id} %></td>
    </tr>
  </table>
</p>
<p style="margin-bottom:6px;">
  <strong style="text-decoration:underline;">NOTE:  This Order is possibly being sent to multiple Notaries simultaneously. 1st Response gets the Order. Please only accept the order if you are sure you can accommodate the date and time requested.</strong>
</p>
</div>
