<style>
th {
 text-align: center;
}
li {
list-style: none;
}
td {
font-weight: bold;
}
</style>
<table width="100%" cellspacing="10" cellpadding="10" border=2 style='border-collapse:collapse;'>
  <tr>
    <th>Notary</th>
    <th>Paid Orders</th>
    <th>Total Due</th>
    <th>Action</th>
  </tr>
    <tr>
						<td style="text-align: center"><%= "#{@orders.first.notary.first_name} #{@orders.first.notary.last_name}" %></td>
						<td  style="text-align: center"rowspan="<%= @orders.count %>">
								<ul>
										<% @orders.each {|order| %>
										<li><%= order.id %>
	         <% } %>
     	  </ul>
      </td>
						<td style="text-align: center">$<%= @total_fee %></td>
						<td style="text-align: center">
								<%= button_to "Pay", { :action => "make_payment", :order_ids => @orders.map(&:id)}, :method => :post %>
						</td>
    </tr>
</table>
