<%= stylesheet_link_tag "dhtmlwindow" %>
<%#= javascript_include_tag "defaults"  %>
<%= javascript_include_tag "prototype"  %>
<%= javascript_include_tag "dhtmlwindow"%>


<style type="text/css" media="screen">
	body {background: #f4f3ed url(../images/sub_bg_2.jpg) repeat-x;}
</style>


<div id="home_header" class="span-24 last">
	<div class="span-5">
		<%= link_to image_tag("logo.jpg"),url_for({:controller=>"home",:action=> "index"}) %>
	</div>
	<div id="home_navigation" class="span-12 prepend-7 last">
		<ul class="inline_list">
			<li><%= link_to "Home", :controller => "home", :action => "index" %></li>
			<li><%= link_to "Learn More", :controller => "home", :action => "learn_more" %></li>
			<li><%= link_to "Faq's", :controller => "home", :action => "faqs" %></li>
			<li><a id="order_status" href="#"   onClick="divwin=dhtmlwindow.open('divbox', 'div', 'check_status', '', 'width=575px,height=280px,left=200px,top=150px,resize=0,scrolling=0,center=1'); myFunction();return false">Order Status</a></li>
                </ul>
		</ul>	
	</div>
</div>

<div id="callout" class="span-24 last">
	<div id="search_and_sign" class="span-8">
		<h1><%= image_tag("header_search_and_sign.png") %></h1>
		<%= image_tag("search_and_sign.png") %>
	</div>
	<div id="register" class="span-16 last">
		<h2>Not A NotaryFly Member?</h2>
		<p>
			Become a member to get all the benefits of NotaryFly. 
			<br />Registration is fast, easy, and FREE!
		</p>
		<p class="register">
		<%= link_to(image_tag("button_register_now.png"), :controller => "users", :action => "new_notary" ) %>
		<%= link_to(image_tag("button_registercustomer_now.png"), :controller => "users", :action => "new_client" ) %>
		</p>
		<%#= link_to "Company Registration", :controller => "users", :action => "new_client"  %>
		
                <p class="register_test"><strong>* Title, Escrow, or Lender</strong></p>

	</div>
</div>

<div id="columns" class="span-24 last">
	
	<div class="span-23" style="border:1px solid #e7dfcc; background-color:#FFF; padding:20px 30px 20px 30px;">
		<h3 style="color:#a0522d; font-family:Georgia; font-weight:bold; font-style:italic;">
			<span style="float:left; width:50%; padding-top:10px;">FAQ</span>
			<%= link_to(image_tag("buttons/notary_sign_up.jpg", :style=> "float:right; padding-bottom:5px;"), :controller => "users", :action => "new_notary") %>
		</h3>
		<style type="text/css" media="screen">
			h4 {color:#154B66; margin:0px 0px 5px 0px; font-size:13px; font-weight:bold;}
		</style>
		<hr>
		<h4>Most Popular Questions</h4>

		<p style="font-weight:bold; margin-bottom:2px;">Q. How do I log in if I forget my username / password?</p>
		<p>A. You can use your account email address to retrieve your password.  If you forgot your account email address then please visit our contact page for contact details.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. How can I change my account email address?</p>
		<p>A. To update your email address, log in with the current account email address from the home page. After you are logged in you can review and update all information associated with your account.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. How can I edit my contact information?</p>
		<p>A. To update your contact information, log in to your account from the home page. After you are logged in you can review and update all information associated with your account.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. Can I have multiple accounts using the same email address?</p>
		<p>A. You can only have one account per email address.  To have multiple accounts, you will need to obtain additional email addresses.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. Can I delete my account if I am no longer an active notary public?</p>
		<p>A. A notary can not delete an account, but can make there account inactive so they will not populate in the search results.  Notary accounts can only be deleted by NotaryFly.com representative and only if they are not attached to any previous orders.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. Will my contact information be sold to third parties?</p>
		<p>A.  NotaryFly will not disclose to any third party your name, address, email address or telephone number without your consent, except to the extent necessary or appropriate to comply with applicable laws or in legal proceeding where such information is relevant.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. What are credits?</p>
		<p>A. 1 credit = 1 posting of a loan signing accommodation. </p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. Do credits expire?</p>
		<p>A. Credits never expire, and you can use them at any time from within your account.  </p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. When will my loan signing be posted?</p>
		<p>A. You posting will be posted instantly and will remain until it is filled with a notary.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. What happens when I post a loan signing?</p>
		<p>A. Once you post your loan signing, you can locate the right notary for it within minutes.  You can login to your account, post more loan signings, edit existing, update your profile information, update your billing information, etc.  We have taken extra care to ensure that our customers have complete control before, during, and after their loan signing.</p>

	 	<p style="font-weight:bold; margin-bottom:2px;">Q. What discounts do you offer?</p>
	 	<p>A. When posting your loan signing you will have the option to purchase additional credits at a discounted rate for future postings.</p>

		<hr>

		<h4>Notary Signing Agent Questions</h4>

		<p style="font-weight:bold; margin-bottom:2px;">Q. How much does it cost to join?</p>
		<p>A. NotaryFly.com is free for mobile notary publics to post their profile.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. How do I get paid?</p>
		<p>A. The company that gave you the assignment will be the one responsible for paying you.  NotaryFly.com is not accountable for payment to notaries and will never be responsible for payment to ANY notary.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. What do I do if I do not get paid?</p>
		<p>A.  You need to call or write email letters to the company that gave you the    assignment and request that you be paid.  If that does not work, you can always use a collection agency.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. Who do I contact if there is a situation at the signing table?</p>
		<p>A.  Your order confirmation will contain the contact information of who the person or company that gave you the assignment.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. How do I make my account inactive?</p>
		<p>A. You will have to make your account inactive by emailing <a href="mailto:support@notaryfly.com">support@notaryfly.com</a> or you can login and put yourself on vacation indefinitely so that you will no longer show up in the searches.</p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. What fees should I charge as a mobile notary?</p>
		<p>A.  You can charge your state’s maximum notary fee.  You can also charge a travel     fee in most states.  Please keep in mind, that you are competing against other notaries in your area, so stay competitive. </p>

		<p style="font-weight:bold; margin-bottom:2px;">Q. My question has not been answered here, now what?</p>
		<p>A. Please email <a href="mailto:support@notaryfly.com">support@notaryfly.com</a> page for contact details.</p>





	
	</div>
</div>

<div id="footer" class="span-24 last">
	<div class="span-15">
		<ul class="inline_list footer">
			<li><%= link_to "Home", :controller => "home", :action => "index" %> |</li>
			<li><%= link_to "Learn More", :controller => "home", :action => "learn_more" %> |</li> 
			<li><%= link_to "Contact Us", :controller => "home", :action => "contact_us" %> |</li>
			<li><%= link_to "Terms of Use", :controller => "home", :action => "terms_of_use" %> |</li>
			<li><%= link_to "Privacy Statement", :controller => "home", :action => "privacy_statement"%> |</li>
                        <li><%= link_to "Disclaimer", :controller => "home", :action => "disclaimer"%></li>
		</ul>
	</div>
	<div id="copyright" class="span-9 last">
		<p style="color:#696969">© Copyright 2012-2014 NotaryFly</p>
	</div>
</div>




  <div id="check_status" style="display:none;">
          <div id ="error" style ="color:red;"></div>
          <center class="order_status"> Order Status </center>
          <% form_remote_for :user, :url => {:controller => "users", :action => "check_status"} do |f| %>
            <div class="order_mane"> <span>*Last Name Signer/Borrower</span> <%= text_field_tag "last_name"%></div>
            <div class="order_mane"> <span>*Order Number</span> <%= text_field_tag "order_number" %><%= image_submit_tag "checkst.jpg",:id=>'check_status_button',:class=>'check_status_button' %> </div>
            
          <% end %>
          <div id ="notary123"></div>
          <div id="empty"></div>
  </div>