<%= stylesheet_link_tag "dhtmlwindow" %>
<%#= javascript_include_tag "defaults"  %>
<%= javascript_include_tag "prototype"  %>
<%= javascript_include_tag "dhtmlwindow"%>


<style type="text/css" media="screen">
	body {background: #f4f3ed url(../images/sub_bg_2.jpg) repeat-x;}
</style>

<div id="home_header" class="span-24 last">
	<div class="span-5">
		<%= link_to image_tag("logo.jpg"),url_for({:controller=>"home",:action=> "index"}) %>
	</div>
	<div id="home_navigation" class="span-12 prepend-7 last">
		<ul class="inline_list">
			<li><%= link_to "Home", :controller => "home", :action => "index" %></li>
			<li><%= link_to "Learn More", :controller => "home", :action => "learn_more" %></li>
			<li><%= link_to "Faq's", :controller => "home", :action => "faqs" %></li>
			<li><a id="order_status" href="#"   onClick="divwin=dhtmlwindow.open('divbox', 'div', 'check_status', '', 'width=575px,height=280px,left=200px,top=150px,resize=0,scrolling=0,center=1'); myFunction();return false">Order Status</a></li>
                </ul>
		</ul>	
	</div>
</div>

<div id="callout" class="span-24 last">
	<div id="search_and_sign" class="span-8">
		<h1><%= image_tag("header_search_and_sign.png") %></h1>
		<%= image_tag("search_and_sign.png") %>
	</div>
	<div id="register" class="span-16 last">
		<h2>Not A NotaryFly Member?</h2>
		<p>
			Become a member to get all the benefits of NotaryFly. 
			<br />Registration is fast, easy, and FREE!
		</p>
		<p class="register">
		<%= link_to(image_tag("button_register_now.png"), :controller => "users", :action => "new_notary" ) %>
		<%= link_to(image_tag("button_registercustomer_now.png"), :controller => "users", :action => "new_client" ) %>
		</p>
		<%#= link_to "Company Registration", :controller => "users", :action => "new_client"  %>
		
                <p class="register_test"><strong>* Title, Escrow, or Lender</strong></p>

	</div>
</div>

<div id="columns" class="span-24 last">
	
	<div class="span-23" style="border:1px solid #e7dfcc; background-color:#FFF; padding:20px 30px 20px 30px;">
		<h3 style="color:#a0522d; font-family:Georgia; font-weight:bold; font-style:italic;">
			<span style="float:left; width:50%; padding-top:10px;">Learn More</span>
			<%= link_to(image_tag("buttons/notary_sign_up.jpg", :style=> "float:right; padding-bottom:5px;"), :controller => "users", :action => "new_notary") %>
		</h3>
		<hr>
		<style type="text/css" media="screen">
			h4 {color:#154B66; margin:0px 0px 5px 0px; font-size:13px; font-weight:bold;}
		</style>
		<h4>About Us</h4>
		<p>NotarFly.com is the one-stop destination of more than 35,000 mobile notary providers across the United States. NotaryFly.com is a premier, online solution for lenders, escrow, title, life settlements, trusts, and other notarized documents; to locate mobile notaries public. We have over ten years of experience developing and perfecting notary solutions — all designed to help you find the right notary, faster and more effectively. When it comes to meeting your business needs, NotaryFly.com has the expertise you can trust.</p>

		<h4>The right notary makes a loan closing successful</h4>
		<p>The most important thing for every loan closing has always been the notary. The right notary can make a world of difference. Whether your needs are local or national, NotaryFly’s notary pool — and our tools that allow you to quickly and effortlessly search a qualified notary — ensures that you will find the notary who will help your business thrive.</p>
		<h4>How It Works</h4>
		<p>By logging on to NotaryFly.com, consumers can easily search, compare and find the right notary for the job. The service works by enabling consumers to enter particular signing information, which then is used to match them with notaries that can best meet their needs.  Not only can you keep track of the notary throughout the closing process, but you can provide the notary with documentation needed to complete the signing within NotaryFly.com.  Notaries will compete to stay ahead in this industry which ultimately will reduce the cost of service.</p>
		<h4>Take control of your notary search</h4>
		<p>We understand that you often do not have the resources to find notaries. When you have a loan signing, you need to quickly fill it with the right notary or lose productivity and revenue. NotaryFly’s "Notary Search" gives you the power to proactively select the most qualified notary for your loan signing. No more waiting for a signing service to fill your request, or not knowing what is going on with your important transaction. Instead, you’ll have instant one-click access to notaries who meet the exact requirements of your loan signing, giving you the control from start to finish.</p>
	
		<h4>More choice</h4>
		<p>NotaryFly has the web’s largest notary database, and its growing everyday.  In fact, NotaryFly.com has more qualified notaries across the nation than any other notary directory. The depth of NotaryFly’s notary pool means you can trust you’ll find the skills and experience you need in a notary when you conduct a search for the following:</p>
		<ul>
		<li>Specializing in Reverse Mortgage</li>
		<li>Title Producers</li>
		<li>Specific language requirements</li>
		<li>Attorney closings</li>
		<li>Email capabilities</li>
                <li>Life settlement</li>
		<li>And more</li>
		<li>More precision</li>
		</ul>
                <br/>
		<p>Our advanced notary search tools allow you to fine-tune your search.  When you search for notaries, you choose criteria that’s important to you — location, required skills, experience level, specific language requirements, fees and more — and our breakthrough technology will instantly zero in on the most qualified notaries.</p>


		<h4>Managing notaries</h4>
		<p>When you conduct a search, you’ll see a list of qualified notaries, including top level information, such as, the notary’s feedback profile, image of the notary (if applicable), experience, capabilities of receiving loan docs and desired fees.  You can choose a brief or detailed view and sort your results by location and posting date. Simply click on a notary to view their profile in its entirety. Flexible controls allow you to refine your search and conduct a new search to meet the new criteria instantly.</p>

		<h4>Rating notaries</h4>
		<p>Once you’ve used a notary, you can use NotaryFly’s rating tool to easily rank notaries based on how qualified they are for a given loan signing. After completion, you can rank the notary based on professionalism, execution of the docs, timeliness, and efficiency.  This rating system should help improve the integrity of the industry.</p>

		<h4>Tracking active postings</h4>
		<p>For added convenience, your recently filled signings are listed on your homepage. You can view each signings’ status, contact the notary, follow up with the notary, and complete the signing which will be stored in your order history folder.</p>

		<h4>What are credits?</h4>
		<p>1 credit = 1 job. Credits never expire, and you can use them at any time from within your account.</p>
		<h4>How do I manage my credits?</h4>
		<p>When you purchase credits, you can post a request immediately after you complete your purchase, or use your credits at a later time.  Your credits will be displayed on your NotaryFly homepage. When you need a notary, simply click “New Order." It’s that easy.  Please keep in mind that once you post a request, a credit deduction will apply, so make sure you have all the details of the signing before posting.</p>
		<h4>Plan ahead and save on every posting</h4>
		<p>You’re already juggling multiple tasks on a daily basis. We’ve made purchasing and using bulk postings as easy as can be. Simply buy as many postings as you think you’ll need over a month, a quarter, or even a year.  Buying NotaryFly.com postings in bulk is the edge you need to fill quickly and save money.  When you have order postings in stock on NotaryFly.com, you’ll always be guaranteed to get your loan signing filled quickly and efficiently.</p>

		<h4>How Feedback Works</h4>
		<p>Every notary member has a feedback profile, which includes basic information about the notary’s past loan signing performances.  Learning to trust a notary has a lot to do with their experience with loan documents or what consumers have to say. 

For each transaction, each consumer can rate the notary by leaving feedback. Each feedback consists of a positive, negative, or neutral rating, and a short comment. The feedback score and the corresponding feedback stars are shown next to every notary’s user ID. The feedback score is a symbol of trust and experience in the NotaryFly Community.</p>
		<p>A consumer can also rate the notary on additional criteria — accuracy of executed documents, communication skills, punctuality, and overall performance. Feedback score is anonymous. This means that notaries can't tell which consumer left which detailed rating, so consumers can feel free to leave ratings that honestly tell the story about their experience.

Leaving honest comments about a particular notary gives other consumers a good idea of what to expect when dealing with that notary. Once it's left, feedback becomes a permanent part of the notary's feedback profile. 

Consumers can leave feedback for a notary up to 60 days after a transaction is completed.  This allows time for the consumer to receive documents and make sure that the transaction was completed accurately and to ensure that it records without any fault of the notary.  

Feedback scores and Feedback
star ratings are used to determine each notary's feedback score.</p>
                <h4>A 5-Star Rating System Is Used:</h4>
		<ul>
                  <li>Positive Feedback &nbsp;&nbsp;: 5 or 4 stars</li>
		<li>Neutral Feedback  &nbsp;&nbsp;: 3 stars</li>
		<li>Negative Feedback : 2 or 1 stars</li>
		</ul>
<br/>
		<p>The higher the feedback score, the more positive ratings a member has received. 


NotaryFly.com compiles and updates the notary database instantly, and it is cleaned up quarterly, making our database one of the largest and most efficient in the industry. </p>

		<h4>Why Notary Signing Agents Should Use NotaryFly.com?</h4>

		<p>NotaryFly is free to mobile notary signing agents.  Unlike the other notary directories out there that make you sign a membership and then you do not get many or any calls at all.  We are offering this to notaries for free because we know that if a directory is free to you then it will continue to grow.  We want to offer our directory to escrow, title and lenders that by using NotaryFly there is never a notary signing they will not be able to fill without having to use a mobile notary signing service.  If we can offer this type of signing agent directory then escrow, title and lenders will actually use it.  This is where you will compete with each other.  Title and Escrow are cutting back fees and looking to find notaries on their own to cut out signing services and save.  However, it is not like it was when the market was hot and you could charge title just about anything and they were okay with it.  Fees are being cut back across the board and for you to succeed as a notary in the current market you must be competitive.  </p>


		<h4>Signing Up As A Notary Signing Agent</h4>
		<p>First, create a free profile and tell us a little about yourself and what your skill level is as a notary signing agent.  It is very important when creating a new account that you take some time and answer all the questions thoroughly.  The reason for this is that the more information you provide the more likely you show up in a search, especially if the consumer is trying to narrow down a particular search criteria.</p>

		<h4>Site Placement for Notary Signing Agents</h4>
		<p>Placement on the site will vary on how the search is conducted.  The search for a notary is initially based on zip code with the closest notary to the signing location and so on.  However, searches can be narrowed down by additional languages, experience level, amount of signings accomplished, feedback rating and notary fee.  </p>

	
	</div>
</div>

<div id="footer" class="span-24 last">
	<div class="span-15">
		<ul class="inline_list footer">
			<li><%= link_to "Home", :controller => "home", :action => "index" %> |</li>
			<li><%= link_to "Learn More", :controller => "home", :action => "learn_more" %> |</li> 
			<li><%= link_to "Contact Us", :controller => "home", :action => "contact_us" %> |</li>
			<li><%= link_to "Terms of Use", :controller => "home", :action => "terms_of_use" %> |</li>
			<li><%= link_to "Privacy Statement", :controller => "home", :action => "privacy_statement"%> |</li>
                        <li><%= link_to "Disclaimer", :controller => "home", :action => "disclaimer"%></li>
		</ul>
	</div>
	<div id="copyright" class="span-9 last">
		<p style="color:#696969">© Copyright 2012-2014 NotaryFly</p>
	</div>
</div>




  <div id="check_status" style="display:none;">
          <div id ="error" style ="color:red;"></div>
          <center class="order_status"> Order Status </center>
          <% form_remote_for :user, :url => {:controller => "users", :action => "check_status"} do |f| %>
            <div class="order_mane"> <span>*Last Name Signer/Borrower</span> <%= text_field_tag "last_name"%></div>
            <div class="order_mane"> <span>*Order Number</span> <%= text_field_tag "order_number" %><%= image_submit_tag "checkst.jpg",:id=>'check_status_button',:class=>'check_status_button' %> </div>
            
          <% end %>
          <div id ="notary123"></div>
          <div id="empty"></div>
  </div>