<%= render :partial => "/client/header" %>
<%= render :partial => "/client/orders/navigation" %>

<div id="messages" class="span-16 last content_container">
	<% if flash[:notice] %><div class="success"><%= flash[:notice] %></div><% end %>		
	<div class="span-16 last">
		<div class="span-12 last">
			<h2>My Messages</h2>
			<h3><%= link_to "Back to messages", { :action => "index" }, :style => "color:#154B66; font-size:12px;"  %></h3>
		</div>
		<div class="span-16 last border" style="padding:5px 25px 5px 0px; margin-top:10px; border:none">
                  <div class="xsnazzy" style="width:750px">
<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
<div class="xboxcontent" style="padding:10px;">
			<%  %>
			<p style="color:#154b66; margin-top:10px; margin-bottom:0px;">From: <%= @notary.first_name %> <%= @notary.last_name %></p>
			<p style="color:#154b66; margin-top:0px; margin-bottom:0px;">At: <%= @message.created_at.strftime("%B %d, %Y at %I:%M %p")%></p>
			<p style="color:#154b66; margin-top:0px; margin-bottom:10px;">NF Order #: <%= @message.order_id%></p>
			
			<p><%= @message.body %></p>
			
			<% if @message.attachment_1_file_name or @message.attachment_2_file_name or @message.attachment_3_file_name or @message.attachment_4_file_name or @message.attachment_5_file_name or @message.attachment_6_file_name  %>
			<h4 style="font-size:12px; font-weight:bold; margin-bottom:5px;">Attachments</h4>
			<ul>
				<% if @message.attachment_1_file_name!=nil and @message.attachment_1_file_name.size!=0 %><li><%= @message.attachment_1_file_name %> <%= link_to "(view)", @message.attachment_1.url, :target => "blank"%> <%= link_to "(delete)", :action => "delete_attachment", :id => "1",:order_id =>@message.order_id %></li><%end%>
                                <% if @message.attachment_2_file_name!=nil and @message.attachment_2_file_name.size!=0 %><li><%= @message.attachment_2_file_name %> <%= link_to "(view)", @message.attachment_2.url, :target => "blank"%> <%= link_to "(delete)", :action => "delete_attachment", :id => "2",:order_id =>@message.order_id %></li><%end%>
                                <% if @message.attachment_3_file_name!=nil and @message.attachment_3_file_name.size!=0 %><li><%= @message.attachment_3_file_name %> <%= link_to "(view)", @message.attachment_3.url, :target => "blank"%> <%= link_to "(delete)", :action => "delete_attachment", :id => "3",:order_id =>@message.order_id %></li><%end%>
                                <% if @message.attachment_4_file_name!=nil and @message.attachment_4_file_name.size!=0 %><li><%= @message.attachment_4_file_name %> <%= link_to "(view)", @message.attachment_4.url, :target => "blank"%> <%= link_to "(delete)", :action => "delete_attachment", :id => "4",:order_id =>@message.order_id %></li><%end%>
                                <% if @message.attachment_5_file_name!=nil and @message.attachment_5_file_name.size!=0 %><li><%= @message.attachment_5_file_name %> <%= link_to "(view)", @message.attachment_5.url, :target => "blank"%> <%= link_to "(delete)", :action => "delete_attachment", :id => "5",:order_id =>@message.order_id %></li><%end%>
                                <% if @message.attachment_6_file_name!=nil and @message.attachment_6_file_name.size!=0 %><li><%= @message.attachment_6_file_name %> <%= link_to "(view)", @message.attachment_6.url, :target => "blank"%> <%= link_to "(delete)", :action => "delete_attachment", :id => "6",:order_id =>@message.order_id %></li><%end%>
			</ul>
			<% end %>
			
			<hr style="background-color:#000;"/>
			<h3 style="color:#000;">Reply to this message</h3>
			<% form_for :message, :url => "/client/messages/create" do |f| -%>
				<p><%= f.text_area :body, :style => "width:95%; height:75px;", :value => "" %></p>
				<%= f.hidden_field :order_id, :value => @message.order_id %>
			<div id="submit_button" class="span-18 last">
				<p><%= submit_tag("Send Message" )%></p>
				<% end %>
			</div>
                       <div class="clr"></div>
        </div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
<b class="xb2"></b><b class="xb1"></b></b>
</div> 
		</div>
	</div>
</div>