<%= render :partial => "/notary/header" %>
<%= render :partial => "/notary/orders/navigation" %>


<div id="messages" class="span-16 last content_container">
  <% if flash[:notice] %><div class="success"><%= flash[:notice] %></div><% end %>
  <div class="span-16 last">
    <!--<div class="span-12 last">
			<h2>My Messages</h2>
		</div>-->
    <div class="span-16 last">
      <!--<p style="color:#154b66; font-weight:bold; margin-top:10px;">NotaryFly Messages is a place for you to send and receive NotaryFly-related communications. Messages from NotaryFly.com are shown in <strong>PURPLE</strong>. Unread messages are shown in <strong>PINK</strong>. You can delete a message at anytime.</p>-->

      <%= render :partial => "/notary/messages/navigation" %>

      <% if @messages.size > 0 %>
        <table border="0" cellspacing="5" cellpadding="5">
          <tr>
            <th>View</th>
            <th>From</th>
            <th>NF Order #</th>
            <th>Received at:</th>
            <th>Delete</th>
          </tr>
          <% for message in @messages %>
            <tr <% if message.is_unread == true %>class="message"<% end %>>
              <%if message.user_id!=nil and message.user_id!=0 %>
                <% @client = Client.find_by_user_id(message.user_id) %>
                <td <% if message.is_unread == true %>class="unreadmessage"<% end %> ><%= link_to "View message", :action => "detail", :id => message.id %></td>
                <td <% if message.is_unread == true %>class="unreadmessage"<% end %><%if @client!=nil%><%= @client.client_name%> <%end%></td>
                <td <% if message.is_unread == true and message.order_id!=0 %>class="unreadmessage"<% end %>><%if message.order_id==0 %>ADMIN<%else%><%=message.order_id%><%end%></td>
                <td <% if message.is_unread == true %>class="unreadmessage"<% end %>><%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
                <td <% if message.is_unread == true %>class="unreadmessage"<% end %>><%= link_to "x", { :controller => "/notary/messages", :action => "destroy", :id => message.id}, :confirm => "Are you sure you want to delete this message" %></td>
              <%else%>

                <td><%= link_to "View message", :action => "detail", :id => message.id %></td>
                <td>ADMIN</td>
                <td>Admin</td>
                <td><%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
                <td><%= link_to "x", { :controller => "/notary/messages", :action => "destroy", :id => message.id}, :confirm => "Are you sure you want to delete this message" %></td>

              <%end%>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p class="notice">You currently have no messages</p>
      <% end %>
    </div>
  </div>
</div>