<%= render :partial => "/notary/header" %>
<%= render :partial => "navigation" %>

<div id="content_conatiner" class="content_container span-24 last">
  <div id="contact_information" class="span-18 last" style="border:none">
    <div class="xsnazzy">
      <b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
        </b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
      <div class="xboxcontent">

        <% if flash[:notice] %><div class="success"><%= flash[:notice] %></div><% end %>
        <div class="errorExplanation" style="display:none" id="signupvalid"></div>
        <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
        <div id="contact_form" class="form span-18 last ">
          <% form_for :notary, :url => "update" do |f| -%>
            <div style="text-align:left">
              <%= error_messages_for :notary %>
            </div>

            <h3 style="margin-left:40px;"><strong>Skills/Experience</strong></h3>
            <div class="labels wholeform">
              <p class="formexperience"><label for="notary_history_length">*How long have you been a notary?:</label></p>
              <p class="formright"><%= select_tag "notary_notary_history_length", options_for_select(["0-6 months", "1-2 Years", "3-5 Years", "5+ Years"], @notary.notary_history_length), {:name => "notary[notary_history_length]"} %></p>
            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="notarize_loan_documents">*Have you notarized loan documents: </label></p>
              <p class="formright">
                <%= f.radio_button :notarize_loan_documents, 'Yes', {:onClick=>"notarized_documents_count_valid_yes()"} %> Yes
                <%if @notary.notarize_loan_documents!= nil  %>
                  <%= f.radio_button :notarize_loan_documents,'No' %> No
                <%else%>
                  <%= f.radio_button :notarize_loan_documents,'No',:checked =>true, :onClick=>"notarized_documents_count_valid_no()" %> No
                <%end%>

              </p>
            </div>
            <div id="notarized_documents_count_label" <% if @notary.notarize_loan_documents=="Yes"%> style="display: inline" <%elsif @notary.notarize_loan_documents=="No"%>  style="display: none" <%else%> style="display: none" <%end%> >
              <div class="labels wholeform">
                <p class="formexperience"><label for="notarized_documents_count">*If so, how many?</label></p>
                <p class="formright"><%= select_tag "notary_notarized_documents_count", options_for_select(["under 50" , "50-100", "100+"], @notary.notarized_documents_count), {:name => "notary[notarized_documents_count]"} %></p>
              </div>
            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="title_insurance_provider">Have You Done Commercial Loans: </label></p>
              <p class="formright">

                <%= f.radio_button :commercial_loan, 'Yes',:name => "notary[commercial_loan]"%> Yes
                <%if @notary.commercial_loan!= nil  %>
                  <%= f.radio_button :commercial_loan,'No',:name => "notary[commercial_loan]" %> No
                <%else%>
                  <%= f.radio_button :commercial_loan,'No',:checked =>true,:name => "notary[commercial_loan]" %> No
                <%end%>


            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="title_insurance_provider">*Are you a Title Insurance Provider: </label></p>
              <p class="formright">
                <%= f.radio_button :title_insurance_provider, 'Yes',:name => "notary[title_insurance_provider]"%> Yes
                <%if @notary.title_insurance_provider!= nil  %>
                  <%= f.radio_button :title_insurance_provider,'No',:name => "notary[title_insurance_provider]" %> No
                <%else%>
                  <%= f.radio_button :title_insurance_provider,'No',:checked=>true,:name => "notary[title_insurance_provider]" %> No
                <%end%>


            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="bilingual">*Are you multilingual?: </label></p>
              <p class="formright">
                <%= f.radio_button :bilingual, 'Yes', {:onClick=>"notarized_bilingual_valid_yes()"} %> Yes
                <%if @notary.bilingual!= nil  %>
                  <%= f.radio_button :bilingual,'No',  :onClick=>"notarized_bilingual_valid_no()" %> No
                <%else%>
                  <%= f.radio_button :bilingual,'No',:checked =>true, :onClick=>"notarized_bilingual_valid_no()"%> No
                <%end%>

            </div>
            <div id="notarized_bilingual_label" <% if @notary.bilingual=="Yes"%> style="display: inline" <%elsif @notary.bilingual=="No"%> style="display: none" <%else%> style="display: none"<%end%> >
              <div class="labels wholeform">
                <p class="formexperience"><label for="bilingual_language">*Multilingual Language: </label></p>
                <%if @notary.bilingual_language!= nil%>
                  <p class="formright" ><%= select_tag "notary_bilingual_language", options_for_select([["","English"],["Spanish","Spanish"] ,[ "Arabic", "Arabic"],[ "Armenian", "Armenian"],[ "ASL", "ASL"],[ "Dutch", "Dutch"],[ "Chinese", "Chinese"],[ "French", "French"],[ "Filipino", "Filipino"],[ "German", "German"],[ "Greek", "Greek"],[ "Hebrew", "Hebrew"],[ "Hindu", "Hindu"],[ "Italian", "Italian"],[ "Japanese", "Japanese"],[ "Korean" , "Korean"],[ "Manderin", "Manderin"],[ "Persian", "Persian"],[ "Polish", "Polish"],[ "Portugese", "Portugese"],[ "Romanian", "Romanian"],[ "Russian", "Russian"],[ "Swedish", "Swedish"],[ "Thai", "Thai"],[ "Turkish", "Turkish"], ["Vietnamese","Vietnamese"]]), {:name => "notary[bilingual_language]"} %></p>
                <%else%>
								<% p '111111111111!!!!!!!!!' %>
                  <p class="formright"><%= select_tag "notary_bilingual_language", options_for_select([["","English"],["Spanish","Spanish"] ,[ "Arabic", "Arabic"],[ "Armenian", "Armenian"],[ "ASL", "ASL"],[ "Dutch", "Dutch"],[ "Chinese", "Chinese"],[ "French", "French"],[ "Filipino", "Filipino"],[ "German", "German"],[ "Greek", "Greek"],[ "Hebrew", "Hebrew"],[ "Hindu", "Hindu"],[ "Italian", "Italian"],[ "Japanese", "Japanese"],[ "Korean" , "Korean"],[ "Manderin", "Manderin"],[ "Persian", "Persian"],[ "Polish", "Polish"],[ "Portugese", "Portugese"],[ "Romanian", "Romanian"],[ "Russian", "Russian"],[ "Swedish", "Swedish"],[ "Thai", "Thai"],[ "Turkish", "Turkish"], ["Vietnamese","Vietnamese"]], @notary.bilingual_language), {:name => "notary[bilingual_language]"} %></p>
                <%end%>
                <p class="formright" style="margin-left: 5px;"><%= select_tag "notary_billingual_language_1", options_for_select([["","English"],["Spanish","Spanish"] ,[ "Arabic", "Arabic"],[ "Armenian", "Armenian"],[ "ASL", "ASL"],[ "Dutch", "Dutch"],[ "Chinese", "Chinese"],[ "French", "French"],[ "Filipino", "Filipino"],[ "German", "German"],[ "Greek", "Greek"],[ "Hebrew", "Hebrew"],[ "Hindu", "Hindu"],[ "Italian", "Italian"],[ "Japanese", "Japanese"],[ "Korean" , "Korean"],[ "Manderin", "Manderin"],[ "Persian", "Persian"],[ "Polish", "Polish"],[ "Portugese", "Portugese"],[ "Romanian", "Romanian"],[ "Russian", "Russian"],[ "Swedish", "Swedish"],[ "Thai", "Thai"],[ "Turkish", "Turkish"], ["Vietnamese","Vietnamese"]], @notary.billingual_language_1), {:name => "notary[billingual_language_1]"} %></p>
              </div></div>

            <div class="labels wholeform">
              <p class="formexperience"><label for="email_document_capability">*Email Document Capability: </label></p>
              <p class="formright">
                <%= f.radio_button :email_document_capability, 'Yes',:name => "notary[email_document_capability]"%> Yes
                <%if @notary.email_document_capability!= nil  %>
                  <%= f.radio_button :email_document_capability,'No',:name => "notary[email_document_capability]" %> No
                <%else%>
                  <%= f.radio_button :email_document_capability,'No',:checked=>true,:name => "notary[email_document_capability]" %> No
                <%end%>

            </div>
            <div id="notary_profile_exp_equip_label" style="display:none">
              <div class="labels wholeform">
                <p class="formexperience"><label for="laser_printer">Do you have a laser printer: </label></p>
                <p class="formright"><%= select_tag "notary_laser_printer", options_for_select(["No" , "Yes"], @notary.laser_printer), {:name => "notary[laser_printer]"} %></p></div>
              <div class="labels wholeform">
                <p class="formexperience"><label for="printer_paper_type">Printer paper type: </label></p>
                <p class="formright"><%= select_tag "notary_printer_paper_type", options_for_select(["Letter", "Legal", "Both"], @notary.printer_paper_type), {:name => "notary[printer_paper_type]"} %></p>
              </div>
            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="enotarization_capability">*eNotarization Capability: </label></p>
              <p class="formright">
                <%= f.radio_button :enotarization_capability, 'Yes',:name => "notary[enotarization_capability]"%> Yes
                <%if @notary.enotarization_capability!= nil  %>
                  <%= f.radio_button :enotarization_capability,'No',:name => "notary[enotarization_capability]" %> No
                <%else%>
                  <%= f.radio_button :enotarization_capability,'No',:checked=>true,:name => "notary[enotarization_capability]" %> No
                <%end%>

            </div>
            <div class="labels wholeform" style="display: none">
              <p class="formexperience"><label for="own_a_copier">*Do you own a copier: </label></p>
              <p class="formright"><%= select_tag "notary_own_a_copier", options_for_select(["No" , "Yes"], @notary.own_a_copier), {:name => "notary[own_a_copier]"} %></p>
            </div>

            <div class="labels wholeform">
              <p class="formexperience"><label for="reverse_mortgage">*Reverse Mortgage Experience?: </label></p>
              <p class="formright">
                <%= f.radio_button :reverse_mortgage, 'Yes',:name => "notary[reverse_mortgage]"%> Yes
                <%if @notary.reverse_mortgage!= nil  %>
                  <%= f.radio_button :reverse_mortgage,'No',:name => "notary[reverse_mortgage]" %> No
                <%else%>
                  <%= f.radio_button :reverse_mortgage,'No',:checked =>true,:name => "notary[reverse_mortgage]" %> No
                <%end%>

            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="certified_signing_agent">*Certified Signing Agent: </label></p>
              <p class="formright">
                <%= f.radio_button :certified_signing_agent, 'Yes',:name => "notary[certified_signing_agent]"%> Yes
                <%if @notary.certified_signing_agent!= nil  %>
                  <%= f.radio_button :certified_signing_agent,'No',:name => "notary[certified_signing_agent]" %> No
                <%else%>
                  <%= f.radio_button :certified_signing_agent,'No',:checked =>true,:name => "notary[certified_signing_agent]" %> No
                <%end%>

            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="life_settlement_experience">*Life Settlement Experience?: </label></p>
              <p class="formright">
                <%= f.radio_button :life_settlement_experience, 'Yes',:name => "notary[life_settlement_experience]"%> Yes
                <%if @notary.life_settlement_experience!= nil  %>
                  <%= f.radio_button :life_settlement_experience,'No',:name => "notary[life_settlement_experience]" %> No
                <%else%>
                  <%= f.radio_button :life_settlement_experience,'No',:checked =>true,:name => "notary[life_settlement_experience]" %> No
                <%end%>

            </div>
            <div class="labels wholeform">
              <p class="formexperience"><label for="notes">Notes:</label></p>
              <p class="formright"><%=text_area_tag "notary[notes]",@notary.notes%></p>
            </div>
            <div class="labels wholeform">
              <p style="margin-right:360px;"><input type="checkbox" name="agree" value="agree" style="vertical-align:middle;float: left; margin: -1px 0px 0px 0px; top:2%; right:2%;" id="agree"/> I accept the Terms of the


                <a href="#" onClick="divwin=dhtmlwindow.open('divbox', 'div', 'w_agreement', '', 'width=690px,height=auto,left=200px,top=150px,resize=0,scrolling=0'); return false">Work Agreement</a>
              </p>
            </div>
            <div id="w_agreement" style="display:none;width:700px;">
              <h3><p>Notary Working Agreement - NotaryFly</p></h3>


              <p>This working agreement (The "Agreement") is entered into by

                <span class="agreement_company"><%=@notary.first_name%><%="  "%><%=@notary.last_name%></span>

                , and/or

                <span class="agreement_company"><%=@notary.company_name%> </span>

                , and NotaryFly, LLC, a California limited liability company.
              </p>

              <div>The terms of this agreement are as follows:</div>
              <ul>
                <li style="list-style-type:square;"><strong style="text-decoration:underline;">Notary Responsibilities</strong>
				<ul style="list-style-type:circle;">
                <li><p>Update Order Timeline promptly (NotaryFly keeps internal ratings on each signing)</p></li>
                <li><p>Follow all instructions from hiring company.</p></li>
                <li><p>Unfortunately, you will be responsible for any mistakes you make, so please double check your work.</p></li>
				</ul>
				</li>
                <li style="list-style-type:square;"><strong style="text-decoration:underline;">Vacation Box</strong>
				<ul style="list-style-type:circle;">
                <li><p>If you do not want to work, please check "Vacation Box" so that you will not show up any searches.</p></li>
                <li><p>All you have to do is un-check the box to appear in searches again[Located at &gt;&gt;My Profile&gt;&gt;Contact Info].</p></li>
				</ul>
				</li>
                <li style="list-style-type:square;"><strong style="text-decoration:underline;">Travel Fee</strong>
				<ul style="list-style-type:circle;">
                <li><p>If you drive to a signing, and then signing is cancelled, sometimes you will receive a Travel Fee of $50:  This will be determined on a case by case basis. </p></li>
                <li><p>The goal here is to not have you, the Notary, hurt financially for accepting an Order, especially, with high gas prices.</p></li>
                <li><p>However, this is not to be abused.  Each Travel Fee will be paid on case by case basis and abuse of this could result in suspensions or expulsion from having your profile listed on NotaryFly. </p></li>
				</ul>
				</li>
              </ul>

              <div style="width:60%;margin:0 auto;font-weight:bold;text-align:center;">
              <p>***MOST TIMES NOTARY FEE IS PAID WITHIN 48 - 96 HOURS OF NOTARYFLY RECEIVING PROCEEDS FROM SETTLEMENT COMPANY***</p>
							<p>We appreciate you updating your profile!<br>
We hope to send you many signings!</p>
			</div>
            </div>

            <div style="clear:both"></div>


            <%= hidden_field :steps, :page, :value => "experience" %>
          </div>
          <div class="clr"></div>
        </div>
        <b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
          <b class="xb2"></b><b class="xb1"></b></b>
      </div>
    </div>

    <div id="submit_button" class="span-18 last">
      <% if self.current_user.steps.to_i < 3 %>
        <p><%= image_submit_tag("buttons/save_button.jpg", :class => "submit", :onclick => "return notary_terms()" )%></p>
      <% else %>
        <p><%= image_submit_tag("button_save_changes.jpg", :class => "submit", :onclick => "return notary_terms()" )%></p>
      <% end %>

      <%= hidden_field :user, :password, :value => session[:password] %>
    <% end %>
  </div>

</div>

